# Python
__pycache__/
*.pyc

# Virtual environment
venv/

# Datasets
dataset/
dataset_raw/
segmented_images/

# Model weights
*.pth
*.onnx

# Generated metadata
metadata/wardrobe.json

# OS files
.DS_Store
Thumbs.db
